<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RefillingStation.Properties.Settings.PriceDatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\PriceDatabase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="RefillingStation.Properties.Settings.PriceDBConnectionString"
            connectionString="Data Source=|DataDirectory|\PriceDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="RefillingStation.Properties.Settings.RefillingStationDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\RefillingStationDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>